/* Fondo negro para toda la página */
body {
    background-color: #000; /* Fondo negro */
    color: #110404; /* Texto blanco */
    font-family: Arial, sans-serif; /* Fuente moderna */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para la credencial */
.credencial {
    background-color: #fff; /* Fondo blanco para la tarjeta */
    padding: 30px;
    border-radius: 15px; /* Bordes redondeados */
    width: 350px; /* Ancho fijo */
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    animation: animacionCredencial 0.5s ease-in-out; /* Animación */
}

/* Estilo para el título */
h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Estilo para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para la foto de perfil */
.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Forma circular */
    border: 4px solid #007bff; /* Borde azul */
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Animación de entrada para la credencial */
@keyframes animacionCredencial {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
